openapi: 3.1.0
info:
  title: QGenda REST Company Staff Target API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Staff Target
paths:
  /v2/stafftarget:
    get:
      operationId: getStafftarget
      summary: StaffTarget
      tags:
      - Staff Target
      description: 'Returns staff targets that are viewable to the user

        Response Object: StaffTarget'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postStafftarget
      summary: StaffTarget
      tags:
      - Staff Target
      description: 'Creates a new staff target

        Response Object: StaffTarget'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/staff:
    post:
      operationId: postStafftargetTargetKeyStaff
      summary: StaffTarget/Staff
      tags:
      - Staff Target
      description: 'Creates a new effective range for a staff member included in a staff target

        Response Object: StaffTarget

        NOTE Partial response; only the parent and staff array properties'
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/staff/{staffId}:
    put:
      operationId: putStafftargetTargetKeyStaffStaffId
      summary: StaffTarget/Staff
      tags:
      - Staff Target
      description: 'Updates an existing effective range for a staff member included in a staff target

        Response Object: StaffTarget

        NOTE Partial response; only the parent and staff array properties'
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      - name: staffId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/profile:
    post:
      operationId: postStafftargetTargetKeyProfile
      summary: StaffTarget/Profile
      tags:
      - Staff Target
      description: 'Sets the usage permissions for user profile for a staff target

        Response Object: StaffTarget'
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/taskshift:
    post:
      operationId: postStafftargetTargetKeyTaskshift
      summary: StaffTarget/TaskShift
      tags:
      - Staff Target
      description: 'Adds a task shift to a staff target

        Response Object: StaffTarget'
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/taskshift/{taskShiftKey}:
    delete:
      operationId: deleteStafftargetTargetKeyTaskshiftTaskShiftKey
      summary: StaffTarget/TaskShift
      tags:
      - Staff Target
      description: Removes a task shift from a staff target
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      - name: taskShiftKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/location:
    post:
      operationId: postStafftargetTargetKeyLocation
      summary: StaffTarget/Location
      tags:
      - Staff Target
      description: 'Adds a location to a staff target

        Response Object: StaffTarget'
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/stafftarget/{targetKey}/location/{locationId}:
    delete:
      operationId: deleteStafftargetTargetKeyLocationLocationId
      summary: StaffTarget/Location
      tags:
      - Staff Target
      description: Removes a location from a staff target
      parameters:
      - name: targetKey
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
