openapi: 3.1.0
info:
  title: QGenda REST Company Login API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Login
paths:
  /v2/login:
    post:
      operationId: postLogin
      summary: Login v2
      tags:
      - Login
      description: "All future requests must have an “Authentication” header with the token type and token appended as the value.  \nExample:\n\nAuthorization: bearer eyJhbGciOiJBMjU2S1ciLCJlbmMiO...\n\nEmail and Password may only be sent in the request body.  Sending in the query string will return a 'Bad Request' error."
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
