openapi: 3.1.0
info:
  title: QGenda REST Company Daily API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Daily
paths:
  /v2/daily/patientencounter:
    get:
      operationId: getDailyPatientencounter
      summary: Daily/PatientEncounter
      tags:
      - Daily
      description: 'Returns patient encounters for a specific company and date range.

        Response Object: PatientEncounter

        Note: If compression is supported/accepted by the client, up to 100 days of patient encounter data may be requested. If compression is not supported, then up to 31 days of patient encounter data may be returned.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postDailyPatientencounter
      summary: Daily/PatientEncounter
      tags:
      - Daily
      description: "Creates a new patient encounter.\n\nNote: \n\nResponse Object: PatientEncounter\nBody: raw (json)\n\n\n\nName\nType\nDescription\n\n\n\n\ncompanyKey\nGUID\nRequired  The key for the company associated with the facility.\n\n\ndailyConfigurationKey\nGUID\nRequired  QGenda’s identifier for a daily configuration\n\n\nroomKey\nGUID\nRequired if roomId is blank  QGenda’s RoomKey for the encounter\n\n\nroomId\nString\nRequired if roomKey is blank  The ExternalId1 identifier for the room\n\n\nstartDateTime\nDate/Time\nRequired  The starting"
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    put:
      operationId: putDailyPatientencounter
      summary: Daily/PatientEncounter
      tags:
      - Daily
      description: "Updates an existing encounter by a unique case ID. All existing fields on the encounter will be overwritten based on fields/values provided in the request body - for sent fields, values will be maintained or updated. For fields not included in the call, values will be cleared. For Role Assignments, existing assignments will not be changed/removed if that encounterRoleKey is not included in the call.\n\nNote: \n\nResponse Object: PatientEncounter\nBody: raw (json)\n\n\n\nName\nType\nDescription\n\n\n\n\ncompanyK"
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/daily/patientencounter/{caseId}:
    delete:
      operationId: deleteDailyPatientencounterCaseId
      summary: Daily/PatientEncounter
      tags:
      - Daily
      description: Deletes an existing Patient Encounter by a case ID.
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/daily/dailyconfiguration:
    get:
      operationId: getDailyDailyconfiguration
      summary: Daily/DailyConfiguration
      tags:
      - Daily
      description: "Returns the daily configurations to which the user has access.  \nResponse Object: DailyConfiguration"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/daily/dailyconfiguration/{dailyConfigurationKey}:
    get:
      operationId: getDailyDailyconfigurationDailyConfigurationKey
      summary: Daily/DailyConfiguration/:dailyConfigurationKey
      tags:
      - Daily
      description: "Returns the daily configuration matching the provided dailyConfigurationKey.  \nResponse Object: DailyConfiguration"
      parameters:
      - name: dailyConfigurationKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/daily/room:
    get:
      operationId: getDailyRoom
      summary: Daily/Room
      tags:
      - Daily
      description: 'Returns the rooms for the specified company key

        Response Object: Room'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/daily/capacityroomassignment:
    get:
      operationId: getDailyCapacityroomassignment
      summary: Daily/RoomAssignments
      tags:
      - Daily
      description: 'Returns the room assignments for the specified company key

        Response Object: Room Assignments

        Created on'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
