openapi: 3.1.0
info:
  title: QGenda REST Company Credit Allocation API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Credit Allocation
paths:
  /v2/CreditAllocation/Quota:
    get:
      operationId: getCreditAllocationQuota
      summary: CreditAllocation/Quota
      tags:
      - Credit Allocation
      description: 'Returns Quota information for Staff, with a separate response for each staff member

        Returns Staff who are currently skilled for task(s) within the Credit Allocation

        Returns Staff who are still a part of the Credit Allocation but are no longer skilled

        Response Object: CreditAllocation'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/creditallocation/{creditAllocationKey}/quota/{staffId}:
    put:
      operationId: putCreditallocationCreditAllocationKeyQuotaStaffId
      summary: CreditAllocation/Quota
      tags:
      - Credit Allocation
      description: 'Updates Quota information for existing staff associated with the Quota

        Updates Staff who are currently skilled for task(s) within the Credit Allocation

        Updates Staff who are still a part of the Credit Allocation but are no longer skilled

        Response Object: CreditAllocation'
      parameters:
      - name: creditAllocationKey
        in: path
        required: true
        schema:
          type: string
      - name: staffId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
