openapi: 3.1.0
info:
  title: QGenda REST Company Schedule API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Schedule
paths:
  /v2/schedule:
    get:
      operationId: getSchedule
      summary: Schedule
      tags:
      - Schedule
      description: 'Returns schedule entries within the date range for companies the user has access to.

        Response Object: Array of ScheduleEntry

        Note: If compression is supported/accepted by the client, up to 100 days of schedule data may be requested. If compression is not supported, then up to 31 days of schedule data may be returned.

        Note: Times are displayed according to the task’s location time zone or, if there isn’t a task location time zone, it uses the company’s time zone instead.

        If the schedule entry’s s'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/schedule/auditLog:
    get:
      operationId: getScheduleAuditLog
      summary: Schedule/AuditLog
      tags:
      - Schedule
      description: 'Returns the schedule audit log for the specified date range/companies

        Response Object: Array of ScheduleAuditLogEntry

        Note: If compression is supported/accepted by the client, up to 100 days of schedule data may be requested. If compression is not supported, then up to 31 days of schedule data may be returned.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/schedule/openshifts:
    get:
      operationId: getScheduleOpenshifts
      summary: OpenShifts
      tags:
      - Schedule
      description: "Returns open shifts for a date range.\nResponse Object: Array of OpenShift\nNote: Times are displayed according to the task’s location time zone or, if there isn’t a task location time zone, it uses the company’s time zone instead. \nIf the open shift’s start or end time falls within a time range affected by Daylight Saving Time (DST), the following rules apply:\n\nIf the start time falls within the “gap” at the start of DST, StartTime will be an hour earlier to account for the hour “lost” by the tim"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/schedule/rotations:
    get:
      operationId: getScheduleRotations
      summary: Rotations
      tags:
      - Schedule
      description: 'Returns schedule rotations for a specific company and date range.Rotations will be followed to their beginning/end even if the dates for those boundaries are outside the rangeStartDate and rangeEndDate range provided (up to rangeExtension-months before rangeStartDate and rangeExtension-months after requestEndDate). When rangeExtension is not defined, this value defaults to 6.

        Resource URL:https://api.qgenda.com/v2/schedule/rotations

        Returns:An array of ScheduleRotation objects, in JSON format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
