openapi: 3.1.0
info:
  title: QGenda REST Company Workflows API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Workflows
paths:
  /v2/credentialing/workflows/:
    get:
      operationId: getCredentialingWorkflows
      summary: Credentialing/Workflows
      tags:
      - Workflows
      description: 'Returns details on Workflows within a Credentialing company.

        Response Object: WorkflowDetails object'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/credentialing/workflows/{workflowKey}:
    get:
      operationId: getCredentialingWorkflowsWorkflowKey
      summary: Credentialing/Workflows/WorkflowKey
      tags:
      - Workflows
      description: 'Returns Settings-level workflow and workflow step details for a single workflow within a Credentialing company.

        Response Object: WorkflowandWorkflowStepDetails object'
      parameters:
      - name: workflowKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/credentialing/workflows/{workflowKey}/staff:
    post:
      operationId: postCredentialingWorkflowsWorkflowKeyStaff
      summary: Credentialing/Workflows/Staff
      tags:
      - Workflows
      description: Assigns a workflow to a Provider in Credentialing. Success response includes the workflow key for the assigned workflow.
      parameters:
      - name: workflowKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/credentialing/workflows/{workflowKey}/corporateEntities:
    post:
      operationId: postCredentialingWorkflowsWorkflowKeyCorporateEntities
      summary: Credentialing/Workflows/CorporateEntities
      tags:
      - Workflows
      description: Assigns a workflow to a Corporate Entity in Credentialing. Success response includes the workflow key for the assigned workflow.
      parameters:
      - name: workflowKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/credentialing/workflows/{workflowKey}/locations:
    post:
      operationId: postCredentialingWorkflowsWorkflowKeyLocations
      summary: Credentialing/Workflows/Locations
      tags:
      - Workflows
      description: Assigns a workflow to a Location in Credentialing. Success response includes the workflow key for the assigned workflow.
      parameters:
      - name: workflowKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
