openapi: 3.1.0
info:
  title: QGenda REST Company Request Limit API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Request Limit
paths:
  /v2/requestlimit:
    get:
      operationId: getRequestlimit
      summary: RequestLimit
      tags:
      - Request Limit
      description: 'Returns all request limits that are viewable by the user

        Response Object: RequestLimit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postRequestlimit
      summary: RequestLimit
      tags:
      - Request Limit
      description: 'Creates a new request limit.

        Response Object: RequestLimit'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/requestlimit/{requestLimitKey}:
    put:
      operationId: putRequestlimitRequestLimitKey
      summary: RequestLimit
      tags:
      - Request Limit
      description: 'Update a request limit.

        Response Object: RequestLimit'
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    delete:
      operationId: deleteRequestlimitRequestLimitKey
      summary: RequestLimit
      tags:
      - Request Limit
      description: Deletes a request limit.
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/requestlimit/{requestLimitKey}/taskshift:
    post:
      operationId: postRequestlimitRequestLimitKeyTaskshift
      summary: RequestLimit/TaskShift
      tags:
      - Request Limit
      description: 'Adding task shifts &amp; credit to request limits.

        Response Object: RequestLimit'
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/requestlimit/{requestLimitKey}/taskshift/{taskShiftKey}:
    put:
      operationId: putRequestlimitRequestLimitKeyTaskshiftTaskShiftKey
      summary: RequestLimit/TaskShift
      tags:
      - Request Limit
      description: 'Manage the credit associated to task shifts in request limits.

        Response Object: RequestLimit'
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      - name: taskShiftKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/requestlimit/{requestLimitKey}/staffquota:
    post:
      operationId: postRequestlimitRequestLimitKeyStaffquota
      summary: RequestLimit/StaffQuota
      tags:
      - Request Limit
      description: 'Manages the staff quota on a request limit.

        Response Object: RequestLimit'
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/requestlimit/{requestLimitKey}/staffquota/{staffid}:
    put:
      operationId: putRequestlimitRequestLimitKeyStaffquotaStaffid
      summary: RequestLimit/StaffQuota
      tags:
      - Request Limit
      description: 'Updates a staff quota for a request limit

        Response Object: RequestLimit'
      parameters:
      - name: requestLimitKey
        in: path
        required: true
        schema:
          type: string
      - name: staffid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
