openapi: 3.1.0
info:
  title: QGenda REST Company User API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: User
paths:
  /v2/user/:
    get:
      operationId: getUser
      summary: User
      tags:
      - User
      description: 'Returns all users who have access to companies

        Response Object: Array of User'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/user/{Id}:
    delete:
      operationId: deleteUserId
      summary: User
      tags:
      - User
      description: Deletes a Non-Scheduled User.
      parameters:
      - name: Id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/NonScheduledUser:
    put:
      operationId: putNonScheduledUser
      summary: NonScheduledUser
      tags:
      - User
      description: 'Updates a Non-Scheduled User.

        Response Object: NonScheduledUser'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postNonScheduledUser
      summary: NonScheduledUser
      tags:
      - User
      description: 'Creates a Non-Scheduled User.

        Response Object: NonScheduledUser'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/NonScheduledUser/location/{locationId}/permissions:
    put:
      operationId: putNonScheduledUserLocationLocationIdPermissions
      summary: NonScheduledUser/Location/Permissions
      tags:
      - User
      description: 'Updates a non-scheduled user''s permissions at a specified location.

        Response Object: NonScheduledUserLocationPermissions'
      parameters:
      - name: locationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
