openapi: 3.1.0
info:
  title: QGenda REST Company Task API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Task
paths:
  /v2/task:
    get:
      operationId: getTask
      summary: Task
      tags:
      - Task
      description: 'Returns all tasks that are viewable by the user

        Response Object: Array of Task'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postTask
      summary: Task
      tags:
      - Task
      description: 'Creates a new Task with at least one Task Shift

        Response Object: Task'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/task/{taskid}/location:
    get:
      operationId: getTaskTaskidLocation
      summary: Task/Location
      tags:
      - Task
      description: 'Returns all locations the task belongs to.

        Response Object: Array of TaskLocation'
      parameters:
      - name: taskid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/task/{taskId}/tag:
    post:
      operationId: postTaskTaskIdTag
      summary: Task/Tag
      tags:
      - Task
      description: 'Assign a task tag to a task

        Response Object: Task'
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    delete:
      operationId: deleteTaskTaskIdTag
      summary: Task/Tag
      tags:
      - Task
      description: 'Delete a task tag from a task

        Response: A message indicating the amount of tag associations removed from the specified task'
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/task/{taskId}/taskshift:
    post:
      operationId: postTaskTaskIdTaskshift
      summary: Task/TaskShift
      tags:
      - Task
      description: 'Creates a new task shift or a new effective date for an existing task shift

        Response Object: TaskShift'
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/task/{taskId}/taskshift/{taskShiftKey}:
    put:
      operationId: putTaskTaskIdTaskshiftTaskShiftKey
      summary: Task/TaskShift
      tags:
      - Task
      description: "Updates an existing effective dated task shift \nResponse Object: TaskShift"
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      - name: taskShiftKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
