openapi: 3.1.0
info:
  title: QGenda REST Company Time Event API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Time Event
paths:
  /v2/timeevent:
    get:
      operationId: getTimeevent
      summary: TimeEvent
      tags:
      - Time Event
      description: 'Returns TimeEvents (clocked or logged time) for a specific company and date range.

        Response Object: Array of TimeEvent

        Note: If compression is supported/accepted by the client, up to 100 days of TimeEvent data may be requested. If compression is not supported, then up to 31 days of TimeEvent data may be returned.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postTimeevent
      summary: TimeEvent
      tags:
      - Time Event
      description: 'Adds a TimeEvent for a specific staff, task, date, and company.

        Response Object: TimeEvent'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/timeevent/{timePunchEventKey}:
    put:
      operationId: putTimeeventTimePunchEventKey
      summary: TimeEvent
      tags:
      - Time Event
      description: 'Edits a TimeEvent by ID.

        Response Object: TimeEvent'
      parameters:
      - name: timePunchEventKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
