openapi: 3.1.0
info:
  title: QGenda REST Company Pay Rate API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Pay Rate
paths:
  /v2/payrate:
    get:
      operationId: getPayrate
      summary: PayRate
      tags:
      - Pay Rate
      description: 'Returns the pay rates for a company

        Response Object: Array of PayRate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postPayrate
      summary: PayRate
      tags:
      - Pay Rate
      description: 'Creates a new pay rate

        Response Object: PayRate'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/payrate/{payRateKey}:
    put:
      operationId: putPayratePayRateKey
      summary: PayRate
      tags:
      - Pay Rate
      description: 'Updates a pay rate by unique rate key. Only sent fields will be overwritten; if a saved field is not provided, it will remain the same.

        Response Object: PayRate'
      parameters:
      - name: payRateKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    delete:
      operationId: deletePayratePayRateKey
      summary: PayRate
      tags:
      - Pay Rate
      description: Deletes an existing pay rate
      parameters:
      - name: payRateKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
