openapi: 3.1.0
info:
  title: QGenda REST Company Request API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Request
paths:
  /v2/request:
    get:
      operationId: getRequest
      summary: Request
      tags:
      - Request
      description: 'Returns requests for a specific company and date range.

        Response Object: Array of Request

        Note: If compression is supported/accepted by the client, up to 100 days of request data may be requested. If compression is not supported, then up to 31 days of request data may be returned.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/request/approved:
    get:
      operationId: getRequestApproved
      summary: Request/Approved
      tags:
      - Request
      description: 'Returns approved requests for a specific company and date range.

        Response Object: Array of Approved Requests'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
