openapi: 3.1.0
info:
  title: QGenda REST Company Locations API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Locations
paths:
  /v2/credentialing/locations/{locationKey}/workflows:
    get:
      operationId: getCredentialingLocationsLocationKeyWorkflows
      summary: Credentialing/Locations/Workflows
      tags:
      - Locations
      description: 'Returns assigned workflow and workflow step information for a specified Location in Credentialing

        Response Object: LocationWorkflows'
      parameters:
      - name: locationKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/credentialing/locations/{locationKey}/workflows/{locationWorkflowKey}:
    delete:
      operationId: deleteCredentialingLocationsLocationKeyWorkflowsLocationWorkflowKey
      summary: Credentialing/Locations/Workflows
      tags:
      - Locations
      description: Deletes a workflow assigned to a location in Credentialing.
      parameters:
      - name: locationKey
        in: path
        required: true
        schema:
          type: string
      - name: locationWorkflowKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
