openapi: 3.1.0
info:
  title: QGenda REST Company Daily Case API
  version: '2'
  description: QGenda REST API Version 2 — physician scheduling, on-call, provider workforce management, credentialing, and clinical operations for healthcare organizations. Derived faithfully from QGenda's public Postman collection (restapi.qgenda.com). Base URL https://api.qgenda.com/v2. Token-based auth via POST /v2/login; HTTPS TLS 1.2/1.3 only; JSON payloads; BR/GZip compression; OData query support on select resources.
  contact:
    name: QGenda Support
    url: https://www.qgenda.com/
  x-apisjson-derived-from: postman/qgenda-collection.json
servers:
- url: https://api.qgenda.com/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Daily Case
paths:
  /v2/dailycase:
    get:
      operationId: getDailycase
      summary: DailyCase
      tags:
      - Daily Case
      description: 'Returns the daily cases within a specified date range.

        Response Object: Array of DailyCase

        Note: If compression is supported/accepted by the client, up to 100 days of DailyCase data may be requested. If compression is not supported, then up to 31 days of DailyCase data may be returned.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    post:
      operationId: postDailycase
      summary: DailyCase
      tags:
      - Daily Case
      description: 'Creates a new daily case.

        Response Object: DailyCase'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
  /v2/dailycase/{caseId}:
    put:
      operationId: putDailycaseCaseId
      summary: DailyCase
      tags:
      - Daily Case
      description: 'Updates an existing daily case by a unique case ID. Only sent fields will be overwritten; if a saved field is not provided, it will remain the same.

        Response Object: DailyCase'
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
    delete:
      operationId: deleteDailycaseCaseId
      summary: DailyCase
      tags:
      - Daily Case
      description: Deletes an existing daily case by a unique case ID.
      parameters:
      - name: caseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Access token returned by POST /v2/login. Send as Authorization: bearer <access_token>.'
